 #  Exercise 2: Data Science Tools and Ecosystem

# Introduction

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Exercise 4: Some of the popular languages that Data Scientists use are:

In [46]:
ordered_list= list(['R Language','Python', 'SQL']
)
print (ordered_list)

['R Language', 'Python', 'SQL']


### Exercise 5 :Some of the commonly used libraries used by Data Scientists include:

In [19]:


ordered_list= list (['Numpy' ,'Matplotlib' ,'Pandas', 'Keras'])

print ( ordered_list)

['Numpy', 'Matplotlib', 'Pandas', 'Keras']

#### Table of Data Science tools

In [35]:
single_column_table = ["Data Science Tools are :", "Python", "R", "SQL",
                       "TensorFlow", "scikit-learn"]


for item in single_column_table:
    print(item)

Data Science Tools are :
Python
R
SQL
TensorFlow
scikit-learn

## introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

In [41]:
a= 5
b=10

print (a+b)
print (a-b) 
print (a*b) 
print (a/b)

15
-5
50
0.5

In [42]:
# This a simple arithmetic expression to mutiply then add integers

a= 5
b=10

print (a*b +5)

55

In [44]:
# This will convert 200 minutes to hours by diving by 60

hours= 60
minutes= 200

conversion= minutes/hours

print ("The Converted Minutes into hours are =" + str(conversion))

The Converted Minutes into hours are =3.3333333333333335


#### Exercise 10 - Insert a markdown cell to list Objectives

###### Objectives: List popular languages for Data Science.

###### Python

###### SQL

###### R

# Author

## Sana Ullah